@charset "utf-8";

.octave {
	float: left;
	margin: 16px;
}

.octave li {
	display: block;
	float: left;
	width: 40px;
	height: 120px;
}

.octave li button {
	width: 100%;
	height: 100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: 0 0 4px #000;
}

.octave li.half {
	display: block;
	position: relative;
	left: -10px;
	float: left;
	width: 20px;
	height: 80px;
	margin-right: -20px;
}

.octave li.half button {
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}